SOA_Client/SOA_Client/Service References/SoapAPI/MyServiceWsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="MyServiceWsdl" targetNamespace="http://localhost/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <xs:element name="CreatePerson_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Age" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="Mail" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="LanguageID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreatePerson_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListPeople_Request">
        <xs:complexType />
      </xs:element>
      <xs:element name="ListPeople_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Person" type="tns:SOAP_Person" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="SOAP_Person">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Age" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Mail" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LanguageID" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="Language" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ReadPerson_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReadPerson_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Person" type="tns:SOAP_Person" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatePerson_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Age" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="Mail" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="LanguageID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatePerson_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeletePerson_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeletePerson_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListLanguages_Request">
        <xs:complexType />
      </xs:element>
      <xs:element name="ListLanguages_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="Language" type="tns:SOAP_Language" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="SOAP_Language">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CreateLanguage_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateLanguage_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReadLanguage_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReadLanguage_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Language" type="tns:SOAP_Language" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateLanguage_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateLanguage_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteLanguage_Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteLanguage_Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="state" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="CreatePerson_RequestMessage">
    <part name="parameters" element="tns:CreatePerson_Request" />
  </message>
  <message name="CreatePerson_ResponseMessage">
    <part name="parameters" element="tns:CreatePerson_Response" />
  </message>
  <message name="ListPeople_RequestMessage">
    <part name="parameters" element="tns:ListPeople_Request" />
  </message>
  <message name="ListPeople_ResponseMessage">
    <part name="parameters" element="tns:ListPeople_Response" />
  </message>
  <message name="ReadPerson_RequestMessage">
    <part name="parameters" element="tns:ReadPerson_Request" />
  </message>
  <message name="ReadPerson_ResponseMessage">
    <part name="parameters" element="tns:ReadPerson_Response" />
  </message>
  <message name="UpdatePerson_RequestMessage">
    <part name="parameters" element="tns:UpdatePerson_Request" />
  </message>
  <message name="UpdatePerson_ResponseMessage">
    <part name="parameters" element="tns:UpdatePerson_Response" />
  </message>
  <message name="DeletePerson_RequestMessage">
    <part name="parameters" element="tns:DeletePerson_Request" />
  </message>
  <message name="DeletePerson_ResponseMessage">
    <part name="parameters" element="tns:DeletePerson_Response" />
  </message>
  <message name="ListLanguages_RequestMessage">
    <part name="parameters" element="tns:ListLanguages_Request" />
  </message>
  <message name="ListLanguages_ResponseMessage">
    <part name="parameters" element="tns:ListLanguages_Response" />
  </message>
  <message name="CreateLanguage_RequestMessage">
    <part name="parameters" element="tns:CreateLanguage_Request" />
  </message>
  <message name="CreateLanguage_ResponseMessage">
    <part name="parameters" element="tns:CreateLanguage_Response" />
  </message>
  <message name="ReadLanguage_RequestMessage">
    <part name="parameters" element="tns:ReadLanguage_Request" />
  </message>
  <message name="ReadLanguage_ResponseMessage">
    <part name="parameters" element="tns:ReadLanguage_Response" />
  </message>
  <message name="UpdateLanguage_RequestMessage">
    <part name="parameters" element="tns:UpdateLanguage_Request" />
  </message>
  <message name="UpdateLanguage_ResponseMessage">
    <part name="parameters" element="tns:UpdateLanguage_Response" />
  </message>
  <message name="DeleteLanguage_RequestMessage">
    <part name="parameters" element="tns:DeleteLanguage_Request" />
  </message>
  <message name="DeleteLanguage_ResponseMessage">
    <part name="parameters" element="tns:DeleteLanguage_Response" />
  </message>
  <portType name="MyServicePortType">
    <operation name="CreatePerson">
      <input message="tns:CreatePerson_RequestMessage" />
      <output message="tns:CreatePerson_ResponseMessage" />
    </operation>
    <operation name="ListPeople">
      <input message="tns:ListPeople_RequestMessage" />
      <output message="tns:ListPeople_ResponseMessage" />
    </operation>
    <operation name="ReadPerson">
      <input message="tns:ReadPerson_RequestMessage" />
      <output message="tns:ReadPerson_ResponseMessage" />
    </operation>
    <operation name="UpdatePerson">
      <input message="tns:UpdatePerson_RequestMessage" />
      <output message="tns:UpdatePerson_ResponseMessage" />
    </operation>
    <operation name="DeletePerson">
      <input message="tns:DeletePerson_RequestMessage" />
      <output message="tns:DeletePerson_ResponseMessage" />
    </operation>
    <operation name="ListLanguages">
      <input message="tns:ListLanguages_RequestMessage" />
      <output message="tns:ListLanguages_ResponseMessage" />
    </operation>
    <operation name="CreateLanguage">
      <input message="tns:CreateLanguage_RequestMessage" />
      <output message="tns:CreateLanguage_ResponseMessage" />
    </operation>
    <operation name="ReadLanguage">
      <input message="tns:ReadLanguage_RequestMessage" />
      <output message="tns:ReadLanguage_ResponseMessage" />
    </operation>
    <operation name="UpdateLanguage">
      <input message="tns:UpdateLanguage_RequestMessage" />
      <output message="tns:UpdateLanguage_ResponseMessage" />
    </operation>
    <operation name="DeleteLanguage">
      <input message="tns:DeleteLanguage_RequestMessage" />
      <output message="tns:DeleteLanguage_ResponseMessage" />
    </operation>
  </portType>
  <binding name="MyServiceBinding" type="tns:MyServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CreatePerson">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListPeople">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReadPerson">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdatePerson">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeletePerson">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ListLanguages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateLanguage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReadLanguage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateLanguage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteLanguage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MyService">
    <port name="MyServicePort" binding="tns:MyServiceBinding">
      <soap:address location="http://myservice.ru/soap.api.php" />
    </port>
  </service>
</definitions>